In [12]:
import numpy as np
import pandas as pd

In [13]:
df = pd.read_csv("XAU_1m_data.csv", sep=";")
df

                     Date     Open     High      Low    Close  Volume
0        2004.06.11 07:18   384.00   384.10   384.00   384.00       3
1        2004.06.11 07:23   384.10   384.10   384.00   384.00       2
2        2004.06.11 07:24   383.80   383.80   383.80   383.80       1
3        2004.06.11 07:25   383.80   384.30   383.80   384.30       3
4        2004.06.11 07:27   383.80   383.80   383.80   383.80       1
...                   ...      ...      ...      ...      ...     ...
6695755  2025.12.01 04:15  4248.22  4248.73  4247.18  4247.58     525
6695756  2025.12.01 04:16  4247.75  4248.30  4246.45  4246.59     391
6695757  2025.12.01 04:17  4246.57  4248.02  4246.13  4246.26     339
6695758  2025.12.01 04:18  4246.22  4247.23  4246.09  4246.44     299
6695759  2025.12.01 04:19  4246.44  4246.73  4245.90  4246.58     169

[6695760 rows x 6 columns]

In [14]:
df.isna().sum()

Date      0
Open      0
High      0
Low       0
Close     0
Volume    0
dtype: int64

In [15]:
df.duplicated().sum()

0

In [16]:
df.describe(include='all')

,Date,Open,High,Low,Close,Volume
count,6695760,6.695760e+06,6.695760e+06,6.695760e+06,6.695760e+06,6.695760e+06
unique,6695760,NaN,NaN,NaN,NaN,NaN
top,2004.06.11 07:18,NaN,NaN,NaN,NaN,NaN
freq,1,NaN,NaN,NaN,NaN,NaN
mean,NaN,1.457690e+03,1.457906e+03,1.457471e+03,1.457689e+03,6.307870e+01
std,NaN,5.616410e+02,5.617312e+02,5.615506e+02,5.616422e+02,7.978339e+01
min,NaN,3.811000e+02,3.811000e+02,3.811000e+02,3.811000e+02,1.000000e+00
25%,NaN,1.179090e+03,1.179260e+03,1.178930e+03,1.179090e+03,1.600000e+01
50%,NaN,1.324620e+03,1.324800e+03,1.324450e+03,1.324620e+03,4.400000e+01
75%,NaN,1.772140e+03,1.772410e+03,1.771890e+03,1.772140e+03,8.200000e+01
max,NaN,4.254980e+03,4.256340e+03,4.252710e+03,4.255040e+03,5.959000e+03

In [17]:
df.describe().T.style.background_gradient(axis=0)