In [1]:

import numpy as np

In [2]:
# Q1. Create a 1D NumPy array containing integers from 1 to 20. Display the array and its shape, size, and ndim.
# Creating a 1D array
arr1d = np.array([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20])
print("1D array:", arr1d)
print("Shape of array:", arr1d.shape)
print("Size of array:", arr1d.size)
print("Dimension of array:", arr1d.ndim)

1D array: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20]
Shape of array: (20,)
Size of array: 20
Dimension of array: 1

In [20]:
# Q2. Create a 2D array (3×4) of random integers between 10 and 99. Display the array and print its dtype, itemsize, and nbytes.
arr2d = np.random.randint(10, 100, size=(3, 4))
print("\n2D array:\n", arr2d)
print("Data type of array:", arr2d.dtype)
print("Item size of array (in bytes):", arr2d.itemsize)
print("Total number of bytes consumed by the array:", arr2d.nbytes)

2D array:
 [[34 95 29 92]
 [47 40 83 56]
 [56 23 78 86]]
Data type of array: int32
Item size of array (in bytes): 4
Total number of bytes consumed by the array: 48

In [5]:
# Q3. Generate the following special arrays: A 5×5 array of zeros, A 4×4 array of ones, A 6×6 identity matrix.
zeros = np.zeros((5, 5))
print("\n5x5 array of zeros:\n", zeros)

ones = np.ones((4, 4))
print("\n4x4 array of ones:\n", ones)

identity = np.eye(6)
print("\n6x6 identity matrix:\n", identity)

5x5 array of zeros:
 [[0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0.]]

4x4 array of ones:
 [[1. 1. 1. 1.]
 [1. 1. 1. 1.]
 [1. 1. 1. 1.]
 [1. 1. 1. 1.]]

6x6 identity matrix:
 [[1. 0. 0. 0. 0. 0.]
 [0. 1. 0. 0. 0. 0.]
 [0. 0. 1. 0. 0. 0.]
 [0. 0. 0. 1. 0. 0.]
 [0. 0. 0. 0. 1. 0.]
 [0. 0. 0. 0. 0. 1.]]

In [6]:
# Q4. Use np.arange to create an array of integers from 0 to 50 with a step of 5. Then use np.linspace to generate 10 evenly spaced values between 0 and 1.
np.arange(0, 51, 5)
np.linspace(0, 1, 10)
print("\nArray of integers from 0 to 50 with a step of 5:\n", np.arange(0, 51, 5))
print("\n10 evenly spaced values between 0 and 1:\n", np.linspace(0, 1, 10))

Array of integers from 0 to 50 with a step of 5:
 [ 0  5 10 15 20 25 30 35 40 45 50]

10 evenly spaced values between 0 and 1:
 [0.         0.11111111 0.22222222 0.33333333 0.44444444 0.55555556
 0.66666667 0.77777778 0.88888889 1.        ]

In [7]:
# Q5. Given a 2D array of shape (4,5), perform the following: Extract the first row, Extract the last column, Extract all elements greater than 20.
arr_2d = np.array([[5, 12, 18, 7, 25],
                   [30, 22, 15, 8, 10],
                   [14, 28, 35, 40, 2],
                   [1, 3, 6, 9, 11]])
first_row = arr_2d[0, :]
print("\nFirst row of the array:\n", first_row)

last_column = arr_2d[:, -1]
print("\nLast column of the array:\n", last_column)

graeter_than_20 = arr_2d[arr_2d > 20]
print("\nElements greater than 20:\n", graeter_than_20)

First row of the array:
 [ 5 12 18  7 25]

Last column of the array:
 [25 10  2 11]

Elements greater than 20:
 [25 30 22 28 35 40]

In [ ]:
# Q6. Create a 3D NumPy array of shape (2,3,4) filled with random integers. Print its shape and access the element at position [1,2,3].
arr3d = np.random.randint(0, 100, size=(2, 3, 4))
print("\n3D array:\n", arr3d)
print("Shape of 3D array:", arr3d.shape)
element_1_2_3 = arr3d[1, 2, 3]
print("Element at position [1,2,3]:", element_1_2_3)

3D array:
 [[[40 81 70  4]
  [65 57 58 98]
  [64 87 27 72]]

 [[ 4 88 36 15]
  [98 42 24  2]
  [ 5  6 84 45]]]
Shape of 3D array: (2, 3, 4)
Element at position [1,2,3]: 45

In [11]:
# Q7. Demonstrate the difference between slicing (returns a view) and fancy indexing (returns a copy) using a sample 1D array.
sample_array = np.array([10, 20, 30, 40, 50])
sliced_view = sample_array[1:4]  # slicing
fancy_indexed_copy = sample_array[[1, 2, 3]]  # fancy indexing
sliced_view[0] = 99  # Modifying the view
fancy_indexed_copy[0] = 88  # Modifying the copy
print("\nOriginal array after modifying the view and copy:\n", sample_array)
print("Sliced view (after modification):\n", sliced_view)
print("Fancy indexed copy (after modification):\n", fancy_indexed_copy)

Original array after modifying the view and copy:
 [10 99 30 40 50]
Sliced view (after modification):
 [99 30 40]
Fancy indexed copy (after modification):
 [88 30 40]

In [12]:
# Q8. Reshape a 1D array of 24 elements into a (4,6) array, then flatten it with ravel() and flatten(). Explain the difference in behavior.
arr_1d = np.arange(24).reshape((4, 6))
print("\nReshaped (4,6) array:\n", arr_1d)
raveled = arr_1d.ravel()
flattened = arr_1d.flatten()
print("\nRaveled array:\n", raveled)
print("\nFlattened array:\n", flattened)


# The difference is that ravel() returns a view of the original array whenever possible, while flatten() always returns a copy.

Reshaped (4,6) array:
 [[ 0  1  2  3  4  5]
 [ 6  7  8  9 10 11]
 [12 13 14 15 16 17]
 [18 19 20 21 22 23]]

Raveled array:
 [ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23]

Flattened array:
 [ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23]

In [13]:
# Q9. Create two arrays and perform the following concatenations: Horizontal stack, Vertical stack, Split the resulting array back into equal parts.
arr1 = np.array([[1, 2, 3], [4, 5, 6]])
arr2 = np.array([[7, 8, 9], [10, 11, 12]])
h_stack = np.hstack((arr1, arr2))
v_stack = np.vstack((arr1, arr2))
print("\nHorizontal stack:\n", h_stack)
print("\nVertical stack:\n", v_stack)
h_split = np.hsplit(h_stack, 2)
v_split = np.vsplit(v_stack, 2)
print("\nHorizontal split back into equal parts:\n", h_split)
print("\nVertical split back into equal parts:\n", v_split)

Horizontal stack:
 [[ 1  2  3  7  8  9]
 [ 4  5  6 10 11 12]]

Vertical stack:
 [[ 1  2  3]
 [ 4  5  6]
 [ 7  8  9]
 [10 11 12]]

Horizontal split back into equal parts:
 [array([[1, 2, 3],
       [4, 5, 6]]), array([[ 7,  8,  9],
       [10, 11, 12]])]

Vertical split back into equal parts:
 [array([[1, 2, 3],
       [4, 5, 6]]), array([[ 7,  8,  9],
       [10, 11, 12]])]

In [15]:
# Q10. Perform the following element-wise operations on a random array of integers (size 5): Square root, Exponential (np.exp), Round each value to 2 decimal places.
element = np.random.randint(1, 100, size=5) # Random array of integers
print("\nOriginal array:\n", element)
sqrt_values = np.sqrt(element)
exp_values = np.exp(element)
rounded_values = np.round(element, 2)
print("\nSquare root of each element:\n", sqrt_values)
print("\nExponential of each element:\n", exp_values)
print("\nEach value rounded to 2 decimal places:\n", rounded_values)

Original array:
 [85 50  4  3 40]

Square root of each element:
 [9.21954446 7.07106781 2.         1.73205081 6.32455532]

Exponential of each element:
 [8.22301271e+36 5.18470553e+21 5.45981500e+01 2.00855369e+01
 2.35385267e+17]

Each value rounded to 2 decimal places:
 [85 50  4  3 40]

In [16]:
# Q11. For the array a = np.array([1.5, 2.7, -3.9, 4.1]), compute: Floor, Ceil, Round to nearest integer.
a = np.array([1.5, 2.7, -3.9, 4.1])
floor_values = np.floor(a)
ceil_values = np.ceil(a)
round_values = np.round(a)
print("\nOriginal array:\n", a)
print("\nFloor values:\n", floor_values)
print("\nCeil values:\n", ceil_values)
print("\nRound values:\n", round_values)

Original array:
 [ 1.5  2.7 -3.9  4.1]

Floor values:
 [ 1.  2. -4.  4.]

Ceil values:
 [ 2.  3. -3.  5.]

Round values:
 [ 2.  3. -4.  4.]

In [17]:
# Q12. Given a 2D array of student scores, compute the following: Sum of all scores, Mean per student (row-wise), Maximum score per subject (column-wise).
student_scores = np.array([[85, 90, 78],
                           [88, 76, 92],
                           [90, 91, 85]])
total_sum = np.sum(student_scores)
mean_per_student = np.mean(student_scores, axis=1)
max_per_subject = np.max(student_scores, axis=0)
print("\nTotal sum of all scores:", total_sum)
print("Mean score per student (row-wise):", mean_per_student)
print("Maximum score per subject (column-wise):", max_per_subject)

Total sum of all scores: 775
Mean score per student (row-wise): [84.33333333 85.33333333 88.66666667]
Maximum score per subject (column-wise): [90 91 92]

In [18]:
# Q13. Demonstrate broadcasting with the following example: Create a 3×3 array of random integers, Add a 1D row vector of size 3 to it, Multiply the array by a scalar (e.g., 5).
broadcast_array = np.random.randint(1, 10, size=(3, 3))
row_vector = np.array([8, 2, 5])
added_array = broadcast_array + row_vector
print("\nOriginal 3x3 array:\n", broadcast_array)
print("\nRow vector:\n", row_vector)
print("\nArray after adding row vector (broadcasting):\n", added_array)
scaled_array = broadcast_array * 5
print("\nArray after multiplying by scalar 5:\n", scaled_array)

Original 3x3 array:
 [[3 9 6]
 [9 8 9]
 [3 6 9]]

Row vector:
 [8 2 5]

Array after adding row vector (broadcasting):
 [[11 11 11]
 [17 10 14]
 [11  8 14]]

Array after multiplying by scalar 5:
 [[15 45 30]
 [45 40 45]
 [15 30 45]]

In [19]:
# Q14. Normalize a 2D array by dividing each row by its row sum. (Hint: use np.newaxis or reshape for broadcasting).
normalize_array = np.array([[1, 2, 3],
                            [4, 5, 6],
                            [7, 8, 9]])
row_sums = normalize_array.sum(axis=1, keepdims=True)
normalized = normalize_array / row_sums
print("\nNormalized array (each row divided by its row sum):\n", normalized)

Normalized array (each row divided by its row sum):
 [[0.16666667 0.33333333 0.5       ]
 [0.26666667 0.33333333 0.4       ]
 [0.29166667 0.33333333 0.375     ]]

In [21]:
# Q15. Create a function that: Takes a 2D array as input, Subtracts the mean of each column (centering data), Returns the centered array.
input_array = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
def center_array(arr):
    col_means = arr.mean(axis=0)
    centered = arr - col_means
    return centered
centered_array = center_array(input_array)
print("\nCentered array (each column mean subtracted):\n", centered_array)

Centered array (each column mean subtracted):
 [[-3. -3. -3.]
 [ 0.  0.  0.]
 [ 3.  3.  3.]]

### Pandas

In [22]:
import pandas as pd

In [23]:
# Q1. Create a Pandas Series from a list of 10 random integers. Display the Series and its basic statistics (mean, median, std).
series = pd.Series(np.random.randint(1, 100, size=10))
print("Pandas Series:\n", series)
print("Mean of Series:", series.mean())
print("Median of Series:", series.median())
print("Standard Deviation of Series:", series.std())

Pandas Series:
 0    94
1    90
2    36
3    37
4    84
5    14
6    61
7    42
8    11
9    83
dtype: int32
Mean of Series: 55.2
Median of Series: 51.5
Standard Deviation of Series: 31.407005587925763

In [37]:
# Q2. Create a DataFrame of student data (Name, Age, Score). Display the DataFrame and show how to select the 'Score' column and rows with Score > 70.

student_data = {
    'Name': ['Ade', 'Seun', 'Ola', 'David', 'Sarah'],
    'Age': [20, 21, 29, 22, 24],
    'Score': [85, 67, 90, 45, 78]
}
df = pd.DataFrame(student_data)
print("\nDataFrame of student data:\n", df)
select = df['Score']  # Selecting 'Score' column
print("\n'Score' column:\n", select)
high_scores = df[df['Score'] > 70]  # Rows with Score > 70
print("\nRows with Score > 70:\n", high_scores)

DataFrame of student data:
     Name  Age  Score
0    Ade   20     85
1   Seun   21     67
2    Ola   29     90
3  David   22     45
4  Sarah   24     78

'Score' column:
 0    85
1    67
2    90
3    45
4    78
Name: Score, dtype: int64

Rows with Score > 70:
     Name  Age  Score
0    Ade   20     85
2    Ola   29     90
4  Sarah   24     78

In [ ]:
# Q3. Read a CSV file named 'data.csv' into a DataFrame and display the first 5 rows (assume file exists).
df = pd.read_csv('data.csv')
print("\nFirst 5 rows of the CSV file:\n", df.head(5))

In [ ]:
# Q4. Given a DataFrame with missing values, demonstrate how to: (a) drop rows with any NA, (b) fill NA with column mean.
df.dropna(inplace=True) # (a) Drop rows with any NA
df.fillna(df.mean(), inplace=True)  # (b) Fill NA with column mean

In [ ]:
# Q5. Given a DataFrame df, demonstrate how to remove duplicate rows based on columns ['A','B'].
df.drop_duplicated(subset=['A', 'B'], inplace=True)

In [ ]:
# Q6. Group df by column 'group' and compute mean and count for column 'value'.
df.groupby('group')['value'].agg(['mean', 'count'])

In [40]:
# Q7. Merge two DataFrames df1 and df2 on column 'id' with a left join.
df1 = pd.DataFrame({'id': [1, 2, 3], 'value1': ['A', 'B', 'C']})
df2 = pd.DataFrame({'id': [2, 3, 4], 'value2': ['D', 'E', 'F']})
merged_df = pd.merge(df1, df2, on='id', how='left')
print("\nMerged DataFrame with left join:\n", merged_df)

Merged DataFrame with left join:
    id value1 value2
0   1      A    NaN
1   2      B      D
2   3      C      E

In [ ]:
# Q8. Create a pivot table from df with index='region', columns='year', values='sales', aggregating with sum.
pd.pivot_table(df, index='region', columns='year', values='sales', aggfunc='sum')
print("\nPivot table:\n", pd.pivot_table(df, index='region', columns='year', values='sales', aggfunc='sum'))

In [43]:
# Q9. Melt a wide DataFrame with columns ['id','2018','2019','2020'] into long format with year and sales columns.
df = pd.DataFrame({
    'id': [1, 2, 3],
    '2018': [100, 150, 200],
    '2019': [110, 160, 210],
    '2020': [120, 170, 220]
})
melted_df = pd.melt(df, id_vars=['id'], var_name='year', value_name='sales')
print("\nMelted DataFrame:\n", melted_df)

Melted DataFrame:
    id  year  sales
0   1  2018    100
1   2  2018    150
2   3  2018    200
3   1  2019    110
4   2  2019    160
5   3  2019    210
6   1  2020    120
7   2  2020    170
8   3  2020    220

In [ ]:
# Q10. Demonstrate sorting a DataFrame by two columns: first by 'age' descending, then 'score' ascending.
sort = df.sort_values(by=['age', 'score'], ascending=[False, True])
print("\nDataFrame sorted by 'age' descending and 'score' ascending:\n", sort)

In [ ]:
# Q11. Convert a column 'date' in string format to datetime and set it as index, then resample monthly and compute mean.
df['date'] = pd.to_datetime(df['date'])
df.set_index('date', inplace=True)
df.resample('M').mean()

In [46]:
# 10

# Create a sample DataFrame with a date column in string format
data = {
    'date': ['2023-01-10', '2023-01-20', '2023-02-05', '2023-02-15', '2023-03-12', '2023-03-25', '2023-04-08'],
    'value': [15, 25, 30, 40, 55, 65, 70]
}
df = pd.DataFrame(data)

print("Original DataFrame:")
print(df)
print("\nData types of the original DataFrame:")
print(df.dtypes)

# Step 1: Convert the 'date' column to datetime format
df['date'] = pd.to_datetime(df['date'])
print("\nDataFrame after converting 'date' column to datetime:")
print(df)
print("\nData types after conversion:")
print(df.dtypes)

# Step 2: Set the 'date' column as the index
df.set_index('date', inplace=True)
print("\nDataFrame with 'date' set as the index:")
print(df)

# Step 3: Resample the data monthly and compute the mean
# The 'M' argument in resample stands for month-end frequency
monthly_mean = df.resample('M').mean()
print("\nMonthly resampled data with the mean computed:")
print(monthly_mean)

Original DataFrame:
         date  value
0  2023-01-10     15
1  2023-01-20     25
2  2023-02-05     30
3  2023-02-15     40
4  2023-03-12     55
5  2023-03-25     65
6  2023-04-08     70

Data types of the original DataFrame:
date     object
value     int64
dtype: object

DataFrame after converting 'date' column to datetime:
        date  value
0 2023-01-10     15
1 2023-01-20     25
2 2023-02-05     30
3 2023-02-15     40
4 2023-03-12     55
5 2023-03-25     65
6 2023-04-08     70

Data types after conversion:
date     datetime64[ns]
value             int64
dtype: object

DataFrame with 'date' set as the index:
            value
date
2023-01-10     15
2023-01-20     25
2023-02-05     30
2023-02-15     40
2023-03-12     55
2023-03-25     65
2023-04-08     70

Monthly resampled data with the mean computed:
            value
date
2023-01-31   20.0
2023-02-28   35.0
2023-03-31   60.0
2023-04-30   70.0

C:\Users\olasunkanmi\AppData\Local\Temp\ipykernel_10544\672739665.py:29: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  monthly_mean = df.resample('M').mean()

In [47]:
# Q12. Show how to apply a function to normalize a numeric column (x - mean)/std using apply or transform.
numeric_df = pd.DataFrame({
    'A': [10, 20, 30, 40, 50],
    'B': [5, 15, 25, 35, 45]
})
def normalize(x):
    return (x - x.mean()) / x.std()
normalized_df = numeric_df.apply(normalize)
print("\nNormalized DataFrame:\n", normalized_df)

Normalized DataFrame:
           A         B
0 -1.264911 -1.264911
1 -0.632456 -0.632456
2  0.000000  0.000000
3  0.632456  0.632456
4  1.264911  1.264911

In [52]:
# Q13. Demonstrate joining on index: set index on df1 and df2 and perform df1.join(df2).
df1 = pd.DataFrame({
    'id': [1, 2, 3],
    'value1': ['A', 'B', 'C']
}).set_index('id')

df2 = pd.DataFrame({
    'id': [2, 3, 4],
    'value2': ['D', 'E', 'F']
}).set_index('id')
joined_df = df1.join(df2, how='inner')  # Inner join on index
print("\nJoined DataFrame on index:\n", joined_df)

Joined DataFrame on index:
    value1 value2
id
2       B      D
3       C      E

In [ ]:
# Q14. Read only columns 'A' and 'B' from 'large.csv' and specify dtypes for memory efficiency.
df = pd.read_csv('large.csv', usecols=['A', 'B'], dtype={'A': 'int64', 'B': 'float64'})
print("\nDataFrame with selected columns and specified dtypes:\n", df.info())

In [ ]:
# Q15. Given a DataFrame with categorical column 'cat', show how to get dummy/one-hot encoding.
df = pd.DataFrame({
    'cat': ['A', 'B', 'A', 'C', 'B']
})
pd.get_dummies(df, columns=['cat'], prefix='cat')
print("\nDataFrame with one-hot encoding:\n", pd.get_dummies(df, columns=['cat'], prefix='cat'))